= simple_form_for @downloader do |f|
  - if downloader.errors.any?
    #error_explanation
      %h2
        = pluralize(downloader.errors.count, "error")
        prohibited this downloader from being saved:
      %ul
        - downloader.errors.each do |error|
          %li= error.full_message
  = f.input :ftp_path
  = f.input :rename
  = f.input :rename_prefix

  = f.association :setting, collection: Setting.all, label_method: :instance_name
  = f.input :interval, as: :select, collection: [['Download every 15 min', '1'], ['download every 30 min', '2', 'download every hour', '3'], ['download once overnight, every day', '4'], ['download overnight, weekday only', '5']]
  = f.input :backup
  = f.input :backup_path
  = f.button :submit